// Place all the styles related to the Store controller here.
// (Сюда помещаются все определения стилей для контроллера Store.)
// They will automatically be included in application.css.
// (Они будут автоматически включены в файл application.css.)
// You can use Sass (SCSS) here: http://sass-lang.com/ 
// (Что такое Sass (SCSS) можно узнать здесь: http://sass-lang.com/)
 .store {
 h1 {
 font-family: inherit;
 font-weight: 500;
 //padding-bottom: 0.5em;
 font: 120%;
 font: small-caps 40px/40px "Times New Roman", serif;
 color: #330066;
 //border-bottom: 10px #6699CC;
 text-align: left;
}
/* Запись в каталоге store */
.entry {
 overflow: auto;
 margin-top: 1em;
 border-bottom: 1px dotted #77d;
 min-height: 133px;
 img {
 width: 80px;
 margin-right: 5px;
 margin-bottom: 5px;
 position: absolute;
 }
 h3 {
 font-size: 120%;
 font-family: sans-serif;
 margin-left: 100px;
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
 }
 p {
 margin-left: 100px;
 margin-top: 0.5em;
 margin-bottom: 0.8em;
 }
 div.price_line {
 margin-left: 100px;
 margin-top: 0.5em;
 margin-bottom: 0.8em;
 }
 
 form, div {
 display: inline;
 padding-bottom: 0.5em;
 }
 .price {
 color: #44a;
 font-weight: bold;
 margin-right: 3em;
 text-align: center;
 }
 }
 .container-fluid {
 background-color: #D4D4D4; /// color of container
 margin: 0px auto;
 padding-right:24px;
 padding-left:24px;
 }
 // .book {
 // background-color: #660099; /// color of container
 // padding-right: 15px;
 // padding-left: 15px;
 // margin-right: auto;
 // margin-left: auto;
 // }
 //////////////////////////
//  table {
//  border-top: collapse;
//   margin:0 auto;
//   text-align:center;
//   width:1000px;
// }
// table tr td {
//  padding: 10px;
//  vertical-align: top;
// }
// .list_image {
//  width: 60px;
//  height: 70px;
// }
// .list_description {
//  width: 60%;
//  dl {
//  margin: 0;
//  }
//  dt {
//  color: #244;
//  font-weight: bold;
//  font-size: larger;
//  }
//  dd {
//  margin: 0;
//  }
// }
//  .list_actions {
//  font-size: x-small;
//  
//  padding-left: 1em;
//  }
//  .list_line_even {
//  background: #98FF98;
//  }
//  .list_line_odd {
//  background: #FFCC99;
// }
////////////////////
} 